
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 card">

    <div class= "row justify-content-center">
      <h4 class ="header"> Create a Personal Trainer </h4>
    </div>
        <%= simple_form_for(@personalized_trainer) do |f| %>
        <%= f.input :name %>
        <%= f.input :category, placeholder: 'eg. crossfit' %>
        <%= f.input :description, placeholder: 'eg. education' %>
        <%= f.input :location, placeholder: 'eg. city' %>
        <%= f.input :rate, placeholder: 'per day' %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: "btn-theme" %>
        <% end %>

    </div>
  </div>
</div>
