<div class="container">
  <div class="row justify-content-center p-3">
    <div class="col-md-6 m-2 p-4 form-card-shadow">

    <div class= "row justify-content-center">
      <h4> Create a Personal Trainer </h4>
    </div>

        <%= simple_form_for(@personalized_trainer) do |f| %>
        <%= f.input :name %>
        <%= f.input :category, placeholder: 'eg. crossfit' %>
        <%= f.input :description, placeholder: 'eg. education' %>
        <%= f.input :location, placeholder: 'eg. city' %>
        <%= f.input :rate, placeholder: 'per day' %>
        <%= f.input :photo, as: :file %>
        <%= f.submit :Submit, class: "btn-theme" %>
        <% end %>

    </div>
  </div>
</div>
