<! this is the view for the personalized_trainer show page.>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Personal Trainer</h1>

      <%= link_to "image" %>
      <h4><%= link_to @personalized_trainer.name %></h4>
      <h5> Category: <%= @personalized_trainer.category %></h5>
      <p> City: <%= @personalized_trainer.location %></p>
      <p> <%= @personalized_trainer.description %></p>
      <p> <%= @personalized_trainer.rate %>NOK</p>

    </div>
  </div>
</div>
