<%= <%= simple_form_for ([@personalized_trainer, @booking]) do |f| %>
  <div class="dates">
    <div class="form-inputs">
       <div class="form-row">
          <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
          <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
       </div>
    </div>
  </div>
  <div class="costs costs-hidden" data-rate="<%= @personalized_trainer.rate.to_json %>">
    <table class="table">
      <tr>
        <td>NOK<%= @personalized_trainer.rate%> x <span id="hours">0</span> hours
        </td>
      </tr>
    </table>
  </div>

<% end %>