<div class="container">
 <div class="row justify-content-center">

    <div class="col-4 shadow m-2 p-3">
      <div id='personalized_trainer-booking-dates' data-unavailable="<%= @booking.personalized_trainer.unavailable_dates.to_json %>">
        <% if current_user.id != @booking.personalized_trainer.user_id  %>
           <%= simple_form_for([@booking.personalized_trainer, @booking]) do |f| %>

            <div class="row justify-content-center">
            <h3> Change My Booking </h3>
            </div>

            <div class="row justify-content-center">
            <table class="table">
                <tr>
                  <td><strong><%= @booking.personalized_trainer.category.upcase %></strong> PT : <strong></strong></td>
                  <td class="text-right"></td>
                </tr>
                <tr>
                  <td><strong><%= @booking.start_date %></strong> - <strong><%= @booking.end_date %></strong></h6></td>
                  <td class="text-right"></td>
                </tr>
              </table>
            </div>

             <div class="form-inputs">
               <div class="form-row">
                 <%= f.label :start_date, 'Start Date' %>
                 <%= f.input :start_date, placeholder: "From", as: :string, type: :text, label:false %>
                 <%= f.label :end_date, 'End Date' %>
                 <%= f.input :end_date, placeholder: "To", as: :string, type: :text, label:false %>
                </div>
              </div>

              <table class="table">
                <tr>
                  <td>NOK<%= @booking.personalized_trainer.rate %> x <%#= (@booking.end_date - @booking.start_date).to_i %> days</td>
                  <td class="text-right"></td>
                </tr>
                <tr>
                  <td><strong>Total</strong></td>
                  <td class="text-right">NOK <%#= @booking.fee %></td>
                </tr>
              </table>
    
              <div class="form-inputs">
                <%= f.submit "Update", class: "btn-theme btn-block btn-booking", data: { confirm: "Are you sure you want to rebook?" } %>
                <%= link_to "Back to my bookings", personalized_trainers_path, class: "btn-theme-cancel btn-block text-center" %>
              </div>
            <% end %>
        <% end %>
     </div>
    </div>
  </div>
</div>
