<div class="container">
  <div class="row justify-content-center p-3">
    <div class="col-md-6 m-2 p-4 form-card-shadow">
      <div id='personalized_trainer-booking-dates' data-unavailable="<%= @booking.personalized_trainer.unavailable_dates.to_json %>">
        <% if true  %>
           <%= simple_form_for([@booking.personalized_trainer, @booking]) do |f| %>

            <div class="row justify-content-center">
              <h3> Change My Booking </h3>
            </div>

            <div class="row justify-content-center p-3">

            <div class=""></div>
            <table class="table">
                <tr>
                  <td><strong><%= @booking.personalized_trainer.category.upcase %></strong> PT : <strong></strong></td>
                  <td class="text-right"></td>
                </tr>
                <tr>
                  <td><strong><%= @booking.start_date %></strong> - <strong><%= @booking.end_date %></strong></h6></td>
                  <td class="text-right"></td>
                </tr>
              </table>
            </div>
            <div class="dates">
             <div class="form-inputs ">
               <div class="form-row m-2">
                 <%= f.label :start_date, 'Start Date' %>
                 <%= f.input :start_date, placeholder: "From", as: :string, type: :text, label:false, class: '' %>
                 <%= f.label :end_date, 'End Date' %>
                 <%= f.input :end_date, placeholder: "To", as: :string, type: :text, label:false %>
                 <%= f.input :goal, class: "btn btn-primary btn-lg btn-block btn-booking" %>
                </div>
              </div>
            </div>


              <div class="form-inputs">
                <%= f.submit "Update Booking", class: "btn-theme btn-block btn-booking", data: { confirm: "Are you sure you want to rebook?" } %>
                <%= link_to "Back to Dashboard", dashboard_path, class: "btn-theme-cancel btn-block text-center" %>
              </div>
            <% end %>
        <% end %>
     </div>
    </div>
  </div>
</div>
