
<div class="container">
  <div class="row">
    <h2> Welcome to your dashboard!</h2>
  </div>

  <div class="row">
    <table class="table table-hover table-responsive">
      <tr class="bg-info">
        <th> </th>
        <th> <%= link_to "Trainer", :sort => "name"%> </th>
        <th> <%= link_to "Category", :sort => "category"%> </th>
        <th> <%= link_to "Location", :sort => "location" %> </th>
        <th> Rate </th>
        <th> Booking Status </th>
        <th> From </th>
        <th> To </th>
        <th> Session Fee </th>
        <th> Trainee </th>
        <th> </th>
        <th> </th>
      </tr>
      <% @personalized_trainers.each do |personalized_trainer| %>
        <tr class="table-light">
          <% if personalized_trainer.photo.attached? %>
            <td> <%= cl_image_tag personalized_trainer.photo.key, :gravity=>"face", :height=>100, :width=>100, :zoom=>0.7, :crop=>"thumb"%> </td>
          <% else %>
              <td> </td>
          <% end %>
          <td> <%= personalized_trainer.name %> </td>
          <td> <%= personalized_trainer.category %> </td>
          <td> <%= personalized_trainer.location %> </td>
          <td> <%= personalized_trainer.rate %> </td>
          <td> <%= link_to "change status" %> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td> <%= link_to "edit", edit_personalized_trainer_path(personalized_trainer) %> </td>
          <td> <%= link_to 'delete', personalized_trainer_path(personalized_trainer), method: :delete, data: { confirm: "Delete ?" } %> </td>
        </tr>
      <% end %>
    </table>
  </div>

  <h2>My Booked Sessions </h2>

  <table class="table table-hover table-responsive">
    <tr class="bg-info">
      <th> Personal Trainer </th>
      <th> Start Date </th>
      <th> End Date </th>
      <th> Booking Fee </th>
      <th>  </th>
    </tr>

    <% if @bookings %>
      <%@bookings.each do |booking|  %>
    <tr class="table-light">
        <th><%= booking.personalized_trainer.name %></th>
        <th><%= booking.start_date %></th>
        <th><%= booking.end_date %></th>
        <th><%= booking.fee %>$</th>
        <th><%=link_to "Leave a review", new_booking_review_path([:booking_id]) %></th>
      <%end %>
    <%end %>
    </tr>
  </table>
</div>

