
<div class="container">
  <div class="row">
    <h2> Welcome to your dashboard, user_id: <%= current_user.id %>!</h2>
  </div>

  <div class="row">
    <table>
      <tr>
        <th> </th>
        <th> <%= link_to "Trainer", :sort => "name"%> </th>
        <th> <%= link_to "Category", :sort => "category"%> </th>
        <th> <%= link_to "Location", :sort => "location" %> </th>
        <th> Rate </th>
        <th> Booking Status </th>
        <th> From </th>
        <th> To </th>
        <th> Session Fee </th>
        <th> Trainee </th>
      </tr>
      <% @personalized_trainers.each do |personalized_trainer| %>
        <tr class="border">
          <% if personalized_trainer.photo.attached? %>
            <td> <%= cl_image_tag personalized_trainer.photo.key, :gravity=>"face", :height=>100, :width=>100, :zoom=>0.7, :crop=>"thumb"%> </td>
          <% else %>
              <td> </td>
          <% end %>
          <td> <%= personalized_trainer.name %> </td>
          <td> <%= personalized_trainer.category %> </td>
          <td> <%= personalized_trainer.location %> </td>
          <td> <%= personalized_trainer.rate %> </td>
          <td> <%= link_to "change status" %> </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td>  </td>
          <td> <%= link_to "edit", edit_personalized_trainer_path(personalized_trainer) %> </td>
          <td> <%= link_to 'delete', personalized_trainer_path(personalized_trainer), method: :delete, data: { confirm: "Delete ?" } %> </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

